table,th,td{
    border-collapse:collapse
}
table {
    width:500px; height: 450px;
    background-color: orange;
}
td{
    width: 55px; height: 55px;
}
table>tbody>tr:nth-child(odd)>td:nth-child(odd){
    background-color:black
}
table>tbody>tr:nth-child(odd)>td:nth-child(even){
    background-color: white;
}
table>tbody>tr:nth-child(even)>td:nth-child(even){
    background-color: black;
}
table>tbody>tr:nth-child(even)>td:nth-child(odd){
    background-color: white;
}


