thead{
    background-color: red; 
    color: aliceblue;
}
.tt{
    color: blue;
}
.hb{
    color:coral ;
}
table{
    border-style: solid;
    border-width: 10px;
    border-color: rgb(136, 241, 241);

}