body {
    padding-left: 100px ;
    
}
thead{
    background-color: yellow;

}
h2 {
    font-size: 25px;
}

table, th,td {
    border:1px solid black ;
    border-collapse: collapse ;
    
}
tr:hover {
    background-color: rgb(104, 208, 226);
}
td,th {
    padding: 10px;
}
td {
    margin: 2px 10px 2px 1px;
}
